main {
	padding: 5% 0;
}

.card svg {
	margin-right: .5rem;
}

.card.skills p {
	margin: 0;
}

@media (max-width:  576px) {
	h6, p, li, td {
		font-size: 12px;
	}

	.leadership td b {
		font-size: 11px;
	}
}
